html,
body {
  height: 100%;
}
html {
  &.lock {
  overflow: hidden;
  }
}
body {
  font-size: 17px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: $text;
}
button {
  background-color:transparent;
  border: none;
  cursor: pointer;
}
.main {
  flex-grow: 1;
}
.container-xxl {
  max-width: 1920px;
  padding: 0 20px;
  margin: 0 auto;
}
.container {
  max-width: 1440px;
  padding: 0 30px;
  margin: 0 auto;
}
.container-fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}
.title {
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  @extend %lora-400;
  display: block;
}

.title-left {
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  @extend %lora-400;
  display: block;
  position: relative;
  padding-bottom: 20px;
  text-align: left;
  
    &::after {
      position: absolute;
      content: '';
      width: 105px;
      height: 1px;
      border: 1px solid $accent;
      bottom: 0;
      left: 0;
    }
  
    span {
      @extend %lora-it-400;
      color: $accent;
    }
  }
