
@media (max-width: 1440px) {
  .reviews {
    .slick-slider {
      width: 100%;
    }
  }
  .contact {
    height: auto;
    &__inner {
      position: static;
    }
  }
}
@media (max-width: 1400px) {
  .menu {
    &__item {
      &+.menu__list-item {
        margin-left: 25px;
      }
    }
  }
  .user-nav {
    &__link-box {
      margin-right: 20px;
    }
    &__link {
      & + .user-nav__link {
        margin-left: 20px;
      }
    }
  }
  .footer {
    &__list-item {
     & +.footer__list-item {
      margin-left: 20px;
     }
    }
  }
  .about {
    &__item {
      max-width: 430px;
    }
  }
}
@media (max-width: 1380px) {
  .menu {
    &__item {
     & +.menu__item {
      margin-left: 60px;
     }
    }
  }
  .top-slider {
    &__box-text {
      padding: 0 25px;
    }
  }
  .about {
    &__item {
      max-width: 385px;
    }
  }
  .howtowork {
    &__item-text {
      font-size: 16px;
      line-height: 1.4;
    }
  }
  .together {
    &__item-title {
      font-size: 22px;
      margin-right: 30px;
    }
    &__item-text {
      font-size: 16px;
      line-height: 1.4;
    }
  }
  .choose {
    &__item-text {
      font-size: 15px;
    }
  }
  .gallery {
    &__content {
      gap: 30px;
    }
  }
  .art {
    &__item-img {
      width: 50%;
      margin-right: 30px;
    }
  }
  .contact {
    &__content {
      padding: 30px;
    }
    &__title {
      font-size: 40px;
      line-height: 28px;
    }
    &__location {
      margin-bottom: 15px;
      font-size: 20px;
    }
    &__link-box,
    &__box {
      display: block;
    }
    &__link-box {
      margin-bottom: 20px;
      padding-bottom: 25px;
    }
    &__link-walking,
    &__link-car,
    &__link-bus,
    &__tel,
    &__email {
      width: 100%;
    }
    &__link-car {
      margin: 15px 0;
    }
    &__tel {
      margin-bottom: 15px;
    }
  }
}
@media (max-width: 1240px) {
  .menu {
    &__item {
      &+.menu__item {
        margin-left: 30px;
      }
    }
  }
  .user-nav {
    &__link {
      font-size: 20px;
    }
  }
  .top-slider {
    &__box-title {
      font-size: 60px;
    }
    &__box-text {
      padding: 0 10px;
    }
  }
  .about {
    &__item {
      max-width: 365px;
    }
  }
  .choose {
    &__item-text {
      font-size: 14px;
      line-height: 1.2;
    }
  }
}

@media (max-width: 1180px) {
  .header {
    &__title {
      font-size: 18px;
    }
  }
  .menu {
    &__item {
      &+.menu__list-item {
        margin-left: 15px;
      }
    }
  }
  .user-nav {
    &__link-box {
      margin-right: 15px;
    }
    &__link {
      font-size: 18px;
      &+.user-nav__link {
        margin-left: 15px;
      }
    }
    &__box {
      gap: 10px;
    }
  }
  .footer {
    &__item-link {
      font-size: 15px;
      padding-left: 20px;
    }
    &__list-item {
      &+.footer__list-item {
        margin-left: 10px;
      }
    }
  }

  .top-slider {
    &__box-title {
      font-size: 50px;
      line-height: 1.4;
    }
    &__box-text {
      padding: 0;
      font-size: 20px;
      line-height: 1.4;
    }
  }
  .about {
    &__item {
      max-width: 305px;
    }
    &__item-title {
      font-size: 28px;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    &__item-text {
      font-size: 16px;
    }
    &__list-item {
      font-size: 16px;
      padding-left: 20px;
    }
  }
  .howtowork {
    &__list {
      gap: 40px 40px;
    }
    &__item {
      padding: 20px 20px 20px 80px;
      &::before {
        font-size: 46px;
      }
      &:after {
        right: -30px;
      }
    }
    &__item-text {
      font-size: 15px;
    }
  }
  .together {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__title {
      text-align: center;
      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__content {
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
  .choose {
    &__inner {
      gap: 30px;
    }
    &__item {
      padding: 20px;
    }
  }
  .reviews {
    &__item:not(.reviews__item-video) {
      padding: 30px 30px 60px 30px;
    }
  }
  .art {
    &__item {
      display: block;
      margin-bottom: 50px;
    }
    &__item-img {
      margin-right: 0;
      margin-bottom: 30px;
      height: auto;
    }
    &__item-img,
    &__item-box {
      width: 100%;
    }
  }
  .contact {
    &__inner {
      padding: 30px;
    }
    &__location {
      font-size: 17px;
    }
    &__tel {
      font-size: 20px;
      line-height: 28px;
    }
    &__map {
      #map {
        width: 500px;
        height: 449px;
      }
    }
  }
}
@media (max-width: 990px) {
  .header {
    &__title {
      font-size: 16px;
      line-height: 1.2;
    }
    &__subtitle {
      line-height: 1.2;
    }
  }
  .menu {
    &__item {
      &+.menu__item {
        margin-left: 10px;
      }
    }
    &__item-link {
      font-size: 16px;
      line-height: 1.2;
    }
  }
  .user-nav {
    &__link-box {
      margin-right: 10px;
    }
    &__link {
      font-size: 15px;
      line-height: 1.2;
      &+.user-nav__link {
        margin-left: 10px;
      }
    }
    &__box-link {
      width: 40px;
      height: 40px;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
  .footer {
    &__list {
      display: block;
    }
    &__item {
    .user-nav {
        margin-left: 0;
    
        &__box-link {
          width: 50px;
          height: 50px;
    
          svg {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
    &__list-item {
      &+.footer__list-item {
        margin-top: 10px;
        margin-left:0;
      }
    }
  }

  .top-slider {
    &__box-title {
      font-size: 42px;
      line-height: 1.4;
    }

    &__box-text {
      font-size: 18px;
    }
  }
  .about {
    &__item {
      max-width: 260px;
    }

    &__item-title {
      font-size: 26px;
    }

    &__item-text {
      font-size: 15px;
    }
    &__content-inner {
      gap: 20px;
    }
    &__list-item {
      font-size: 14px;
    }
  }
  .choose {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      &:nth-child(2),
      &:nth-child(5) {
        top: 0;
      }
    }
    &__item-text {
      font-size: 16px;
    }
  }
  .gallery {
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px;
    }
  }
  .contact {
    &__inner {
      padding: 60px 58px;
      display: block;
    }
    &__content {
      padding: 60px;
      max-width: 100%;
      height: auto;
      margin: 0 0 30px 0;
    }
    &__location {
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 60px;
    }

    &__link-box,
    &__box {
      display: flex;
    }

    &__link-box {
      margin-bottom: 20px;
      padding-bottom: 25px;
    }

    &__link-walking,
    &__link-car,
    &__link-bus,
    &__tel,
    &__email {
      width: auto;
    }

    &__link-car {
      margin: 0;
    }

    &__tel {
      margin-bottom: 0;
      font-size: 32px;
      line-height: 41px;
    }
    &__map {
      max-width: 100%;
      #map {
        width: 100%;
        height: 449px;
      }
    }
  }
}
@media (max-width: 920px) {
  .howtowork {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      &:nth-child(3n)::after {
        display: block;
      }
      &:nth-child(2n)::after {
        display: none;
      }
    }
  }
}
@media (max-width: 860px) {
  .menu {
    order: 1;
    margin-left: 20px;
    ul.menu__list {
      padding: 10px 0;
    }
    &__list {
      transform: translateX(200%);
      position: absolute;
      background-color: #f6f6f6;
      top: 101px;
      width: 280px;
      right: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all .3s;
    
      &.menu__list--active {
        transform: translateX(0%);
        transition: all .3s;
      }
    }
    &__btn {
      padding: 0;
      width: 20px;
      height: 20px;
      border: none;
      background-color: transparent;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: all .3s;
      z-index: 6;

      span {
        width: 100%;
        height: 2px;
        background-color: $accent;
        transition: all .3s;
        transform: rotateY(0deg);
      }

      &::after,
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: $accent;
      }

      &::before {
        top: 0;
        transform: rotate(0deg);
        transition: all .3s;
      }

      &::after {
        bottom: 0;
        transition: all .3s;
      }

      &.menu__btn--active {
        transition: all .3s;

        &::before {
          top: 8px;
          transform: rotate(45deg);
          transition: all .3s;
        }

        &::after {
          bottom: 10px;
          transform: rotate(-45deg);
          transition: all .3s;
        }

        span {
          transform: rotateY(90deg);
          transition: all .3s;
          width: 0%;
        }
      }
    }
    &__item {
      &+.menu__item {
        margin-top: 10px;
        margin-left: 0px;
      }
    }
    &__item-link {
    &:hover,
    &:focus-visible {
      &::after {
        top: 30px;
      }
    }
      &--active {
        &::after {
          top: 30px;
        }
      }
    }
  }
  .user-nav {
    margin-left: auto;
    &__link-box {
      text-align: right;
    }
  }
  .top-slider {
    &__box {
      display: block;
    }
    &__box-title {
      font-size: 62px;
      max-width: 100%;
      margin-right: 0;
    }
    &__box-text {
      font-size: 20px;
      line-height: 32px;
    }
  }
  .about {
    padding-top: 50px;
    padding-bottom: 0;
    &__items {
      justify-content: center;
    }
    &__item {
      max-width: 440px;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__item-title {
      font-size: 32px;
    }

    &__item-text {
      font-size: 17px;
    }
    &__content-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__list-item {
      font-size: 18px;
    }
  }
  .howtowork {
    padding: 70px 0 50px;
  }
  .together {
    padding: 70px 0 50px;
  }
  .choose {
    padding: 70px 0;
    &__item-text {
      font-size: 14px;
    }
  }
  .reviews {
    padding: 70px 0;
    &__box {
      display: block;
    }
    &__box-text {
      margin-bottom: 10px;
    }
    .slick-slide {
      margin: 0 10px;
    }
  }
  .art {
    padding: 100px 0 50px;
  }
  .footer {
    padding-top: 100px;
  }
}
@media (max-width: 768px) {
  .top-slider {
    &__box-title {
      font-size: 56px;
    }
    &__arrows {
      padding: 0 50px;
    }
    &__content-box {
      padding: 30px 30px;
    }
  }
  .together {
    &__item-title {
      margin-right: 20px;
    }
    &__form-box {
      background-image: none;
      padding: 0;
    }
    &__form {
      padding: 20px;
      gap: 40px;
    }
  }
  .gallery {
    &__top-box {
      display: block;
    }
    &__title {
      margin-bottom: 20px;
    }
  }
  .contact {
    &__inner {
      padding: 30px 28px;
    }
    &__content {
      padding: 30px;
    }
  }
}
@media (max-width: 650px) {
  .top-slider {
    padding-top: 70px;
    &__box-title {
      font-size: 48px;
    }
    &__content-box {
      padding: 20px 20px;
    }
    &__item-title {
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 10px;
    }
  }
  .about {
    &__list-item {
      font-size: 16px;
    }
  }
  .howtowork {
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item {
      padding: 30px 30px 30px 100px;

      &::before {
        font-size: 50px;
      }

      &:after {
        background-image: none;
      }
    }

    &__item-text {
      font-size: 15px;
    }
  }
  .choose {
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item {
      margin: 0 auto;
      padding: 30px;
    }
    &__item-text {
      font-size: 16px;
    }
  }
  .art {
    &__box-title {
      font-size: 26px;
    }
  }
  .contact {
    &__location {
      margin-bottom: 15px;
      font-size: 20px;
    }
  
    &__link-box,
    &__box {
      display: block;
    }
  
    &__link-box {
      margin-bottom: 20px;
      padding-bottom: 25px;
    }
  
    &__link-walking,
    &__link-car,
    &__link-bus,
    &__tel,
    &__email {
      width: 100%;
    }
  
    &__link-car {
      margin: 15px 0;
    }

    &__tel {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 15px;
    }
  }
}
@media (max-width: 528px) {
  .menu {
    margin-left: 10px;
    &__item {
      &:last-child {
        display: block;
        text-align: center;
        .user-nav__link + .user-nav__link {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
  }
  .user-nav {
    &__link {
      display: block;
      font-size: 14px;
    }
    &__link-box {
      display: none;
    }
  }
  .footer {
    &__title {
      font-size: 20px;
      line-height: 1.2;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    &__item {
      width: 100%;
      margin-bottom: 20px;
      & + .footer__item {
        margin-left: 0;
      }
      &:last-child {
        margin-bottom: 0;
        width: auto;
      }
    }
  }
  .top-slider {
    &__box {
      margin-bottom: 70px;
    }
    &__box-title {
      font-size: 46px;
    }
    &__box-text {
      font-size: 18px;
      line-height: 1.4;
    }
    &__arrows {
      top: 0;
      width: 40%;
      padding: 0;
    }
    .slick-slide {
      margin: 0 15px;
    }
    &__content-box {
      padding: 20px 10px;
    }
    &__item-title {
      font-size: 22px;
    }
  }
  .about {
    &__item-title {
      font-size: 30px;
    }
  }
  .together {
    &__item-title {
      font-size: 18px;
    }
    &__item-text {
      line-height: 1.2;
      font-size: 14px;
    }
    &__form-title {
      font-size: 24px;
    }
    &__form-input {
      padding: 10px;
      font-size: 16px;
      line-height: 1.2;
    }
    &__form-content {
      display: block;
    }
    &__form-btn {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      padding: 10px 48px 10px 30px;
    }
    &__form-text {
      font-size: 14px;
    }
  }
  .reviews {
    &__item:not(.reviews__item-video) {
      padding-bottom: 30px;
      &::after {
        left: 30px;
        bottom: 30px;
      }
    }
  }
}
@media (max-width: 460px) {
  .menu {
    &__item-link {
      font-size: 14px;
    }
  }
  .user-nav {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .top-slider {
    padding-bottom: 0;
    &__box-title {
      font-size: 34px;
    }
    &__box-text {
      font-size: 16px;
    }
  .slick-arrow {
    width: 40px;
    height: 40px;
    svg {
      width: 40px;
      height: 40px;
    }
  }
  }
  .about {
    &__item-box {
      padding-top: 0;
    }
    &__item-title {
      font-size: 26px;
    }

    &__item-text {
      font-size: 14px;
      line-height: 1.4;
    }
    &__list-item {
      font-size: 14px;
      line-height: 1.4;
    }
  }
  .howtowork {
    &__item {
      height: 150px;
      padding-left: 85px;
      &::before {
        font-size: 44px;
      }
    }
  }
  .together {
    &__title {
      text-align: left;
      &::after {
        left: 55px;
      }
    }
    &__item {
      display: block;
    }
    &__item-title {
      margin-right: 0;
    }
    &__form-title {
      font-size: 22px;
    }
  }
  .choose {
    padding-bottom: 30px;
    &__item-text {
      font-size: 14px;
    }
  }
  .reviews {
    &__box {
      margin-bottom: 50px;
    }
    &__box-btns {
      display: block;
    }
  
    &__box-link {
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .slider-arrows {
      justify-content: flex-end;
    }
    &__item-top-title {
      font-size: 22px;
    }
    &__item-text {
      font-size: 14px;
    }
  }
  .gallery {
    padding-bottom: 50px;
  }
  .art {
    padding-top: 70px;
    &__box-title {
    font-size: 22px;
    line-height: 1.4;
    }
    &__box-text {
      font-size: 15px;
      line-height: 1.4;
    }
    ul.art__list {
      li {
        margin-left: 20px;
        font-size: 15px;
        line-height: 1.4;
      }
    } 
  }
  .contact {
    &__content {
      padding: 0;
      border: none;
    }
    &__title {
      font-size: 36px;
    }
    &__location {
      font-size: 17px;
    }
  }
}

@media (max-width: 370px) {
  .menu {
      margin-left: 20px;
      &__list {
        width: 200px;
      }
    }
  .user-nav {
    &__link-box {
      display: none;
    }
    &__box-link {
      width: 40px;
      height: 40px;

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
  .top-slider {
    &__box-title {
      font-size: 28px;
    }
    &__content-box {
      padding: 10px 10px;
    }

    &__item-title {
      font-size: 16px;
      margin-bottom: 5px;
    }
    &__item-link {
      font-size: 15px;
    }
  }
  .about {
    &__item-title {
      font-size: 26px;
    }
  }
  .howtowork {
    &__item {
      padding: 20px 10px 20px 90px;
    }
     &__item-text {
      font-size: 14px;
     }
  }
  .together {
    &__title {
      font-size: 28px;
      margin-bottom: 30px;
    }
    &__form {
      padding: 0;
      border: none;
    }
    &__form-title {
      font-size: 20px;
    }
    &__form-label  {
      span {
        font-size: 14px;
      }
    }
    &__form-text {
      width: 100%;
    }
  }
  .choose {
    &__title {
      font-size: 22px;
    }
    &__item-text {
      font-size: 12px;
    }
  }
  .reviews {
    &__item:not(.reviews__item-video) {
      padding: 20px;
    }
    &__item-video-box {
      padding: 20px;
    }
  }
  .art {
    &__box-title {
      font-size: 20px;
    }

    &__box-text {
      font-size: 14px;
    }

    ul.art__list {
      li {
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }
  .contact {
    &__title {
      font-size: 32px;
    }
    &__location,
    &__link-walking,
    &__link-car,
    &__link-bus,
    &__email {
      font-size: 15px;
    }
  }
}