$text:#5d556c;
$title:#303040;
$accent:#5d5fef;

 %lora-400 {
  font-family: 'Lora-Regular';
  font-weight: 400;
}
%lora-it-400 {
  font-family: 'Lora-Italic';
  font-weight: 400;
}
%lora-500 {
  font-family: 'Lora-Medium';
  font-weight: 500;
}
%lora-it-500 {
  font-family: 'Lora-MediumItalic';
  font-weight: 500;
}
 %manrope-300 {
   font-family: 'Manrope-Light';
   font-weight: 300;
 }
 %manrope-400 {
   font-family: 'Manrope-Regular';
   font-weight: 400;
 }
 %manrope-500 {
   font-family: 'Manrope-Medium';
   font-weight: 500;
 }